.pull-right {
  display: inline;
  float: right;
}

.pull-left {
  float: left;
}

section {
  background-color: #acc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 60px 10px 60px;
  margin-bottom: 10px;
}
